<div class="home-heading">
  <img src="/images/qd-homegraphic.png" alt="" class="home-graphic" />
  <p class="qotd">"Here there will be the quote of the day..."</p>
  <p class="qotd-author">- Author</p>
  <span class="heading-bottom-border"></span>
</div>
<div class="todo-group">
  <div class="todo-header">
    <h4><i>Your Task List</i></h4>
    <a href="/add-task" class="button">+</a>
  </div>
  <ul class="todo-ul">
    <% data.forEach(task => { %>
    <li class="todo-li">
      <p class="task-title"><%= task.title %></p>
      <p class="task-body"><%= task.body %></p>
      <p class="task-createdAt"><%= task.createdAt.toDateString() %></p>
      <div class="task-functions">
        <a href="/edit-task/<%= task._id %>" class="todo-edit">
          <img src="/images/edit.png" alt="Edit" />
        </a>
        <form
          action="/delete-task/<%= task._id %>?_method=DELETE"
          method="POST"
          class="deletetask-form"
        >
          <input type="submit" value="" class="deletetask-btn-min" />
        </form>
        <form action="" class="task-checkbox-form">
          <input type="checkbox" value="Complete" class="task-checkbox" />
        </form>
      </div>
    </li>
    <% }) %>
  </ul>
</div>
